.hero-conaitner {
  height: 100vh;
}
.header {
  position: relative;
  bottom: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(69, 72, 77, 0.692);
  margin: 30px;
  padding: 30px;
  text-align: center;
}

.hero {
  background: linear-gradient(45deg, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%);
}
